<div ng-init="getAllUsers()">
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="HeadingCSS">
            <div class="panel panel-primary">
                <div class="panel-heading">CONTACTS</div>
            </div>
        </div>
        <div class="HeadingCSS">
            <div class="panel panel-success">
                <div class="panel-heading">Online</div>
                <div class="panel-body" ng-repeat="onlineUser in users | filter: { loginStatus: 'true' }">
                  <div data-toggle="modal" data-target="#chatModal" ng-click="selectUser(onlineUser)" class="userDivCSS">
                <span class="usersCSS">{{onlineUser.username}}</span>
              </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Offline</div>
            <div class="panel-body" ng-repeat="offlineUser in users | filter: { loginStatus: 'false' }">
              <div class="offlineUserDivCSS">
            <span class="usersCSS">{{offlineUser.username}}</span>
          </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-8">
      <div class="panel panel-success">
          <div class="panel-heading">Chat Box</div>
          <div class="panel-body">
              <div class="chatBoxCSS" >
                <ul class="listCSS" ng-repeat="message in messages">
                   <li>{{message.username}} : {{message.message}}</li>
               </ul>
              </div>
          </div>
      </div>

    </div>
</div>
<button class="btn btn-lg btn-primary btn-block" ng-click="logout()">Logout</button>
<div>

 <!-- modal -->
  <div id="chatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Write Message</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" ng-model="message" placeholder="message" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="sendMessage(message)" data-dismiss="modal">Send</button>
        </div>
      </div>

    </div>
  </div>
