<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="HeadingCSS">
            <div class="panel panel-primary">
                <div class="panel-heading">CONTACTS</div>
            </div>
        </div>
        <div class="HeadingCSS">
            <div class="panel panel-success">
                <div class="panel-heading">Online</div>
                <div class="panel-body" ng-repeat="onlineUser in onlineUsers">

                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Offline</div>
            <div class="panel-body" ng-repeat="offlineUser in offlineUsers">
                asd
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-8">
      <div class="panel panel-success">
          <div class="panel-heading">Chat Box</div>
          <div class="panel-body">
              <div class="chatBoxCSS" ng-repeat="message in messages">

              </div>
          </div>
      </div>

    </div>
</div>
